.bg-color{
    background-color: #239BD8;
    height: 14.3rem;
}

.gap-25{
    gap: 25rem;
}

.container-p{
    width: 192rem;
    height: auto;
    background-color: white;
}

.border-b{
    border-bottom: 0.3rem solid #239BD8;
    padding-bottom: 3rem;
}

.w-h{
    width: 65rem;
    height: auto;
}

.padding-y{
    padding: 2rem 62rem;
}

.color-b{
    color: #22C3A6;
}

.color-gray{
    color: #7C8DB0;
}

.bg-color-card{
    background-color: #F6F9FF;
}

.padding-buttom{
    padding-bottom: 51rem;
}

.color-footer{
    color: #A1A1A1;
}

.w{
    width: 49rem;
}

@media screen and (max-width:900px) {
    .card{
      flex-wrap: wrap;
    }
}